* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

#register {
  background-color: white;
  color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reg-form {
  padding: 7% 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-head {
  margin: 40px;
  letter-spacing: 3px;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
}

input {
  background: white;
  width: 500px;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
  color: #89CFF0;
  border-bottom: 1px solid red;
}

.link {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-bottom: -10%;
}

.boarder {
  background-color: white;
  width: 100vw;
  height: 10vh;
}

.btn {
  display: flex;
  justify-content: center;
}
